<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher #refresherRef slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="showCurrentLoc()">
      <ion-icon name="locate-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div #map id="map"></div>
<!--  <ion-button>-->
<!--    <ion-button (click)="showCurrentLoc()">Check In</ion-button>-->
<!--  </ion-button>-->
<!--  <ion-button (click)="showCurrentLoc()">-->
<!--    <ion-icon name="locate-outline"></ion-icon>-->
<!--  </ion-button>-->
</ion-content>

<ion-footer>
  <!-- <ion-label>{{ userId }}</ion-label> -->
  <app-footer></app-footer>
</ion-footer>
