<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-avatar class="image-center item-avatar">
        <img src="assets/icon/person.png" *ngIf="!photo">
        <img id="profilePicture" style="object-fit: cover" src="{{photo}}" *ngIf="photo">
        <input type="file" *ngIf="isDesktop" #filePicker (change)="onFileChoose($event)"/>
      </ion-avatar>
      <ion-fab vertical="bottom" horizontal="center" style="margin-left: 10px">
        <ion-fab-button (click)="getPicture('camera')">
          <ion-icon name="camera-reverse-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </ion-card-content>
    <ion-card-header class="ion-text-center">
      <ion-card-title>{{ user?.fName }} {{ user?.lName }}</ion-card-title>
      <ion-card-subtitle *ngIf="user?.fName !== 'Meilona'">{{ user?.email }}</ion-card-subtitle>
      <ion-card-subtitle *ngIf="user?.fName === 'Meilona'">00000026158</ion-card-subtitle>
      <ion-text *ngIf="user?.fName === 'Meilona'">Kesan Pesan Singkat :</ion-text> <br>
      <ion-text *ngIf="user?.fName === 'Meilona'">Awalnya week 1-3 mager banget karna bingung mobile cross kayak gmn tapi
      lama kelamaan ini lebih mending daripada mobile 1. Terimakasih kepada Ko Yehez dan Ko James yang
      udah jadi aslab padahal dah pada lulus. Semoga sukses selalu dalam segala pekerjaannya ko!</ion-text>
    </ion-card-header>
  </ion-card>
  <h4 style="margin-left: 10px">My Feeds</h4>
  <ion-card *ngIf="userLocations === null">
    <ion-card-header class="ion-text-center">
      <ion-card-title>Tidak ada data check-in.</ion-card-title>
      <img style="margin: 10px" src="assets/icon/searchlocation.png">
      <ion-card-subtitle>Silahkan melakukan check-in lokasi pada menu home.</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  <ion-list *ngIf="userLocations !== null">
    <ion-item lines="none" *ngFor="let loc of userLocations; let i = index" (press)="itemPressed(i)">
      <ion-icon slot="start" name="pin-outline" color="primary"></ion-icon>
      <ion-label>
        {{ user?.fName }} checked-in at {{loc.place}} {{loc.time}}
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button  (click)="goto('friends')">
          <ion-icon name="people-outline"></ion-icon>
          <ion-label>Friends</ion-label>
        </ion-tab-button>

        <ion-tab-button (click)="goto('home')">
          <ion-icon name="map-outline"></ion-icon>
          <ion-label>Home</ion-label>
        </ion-tab-button>

        <ion-tab-button  (click)="goto('profile')">
          <ion-icon name="person-outline"></ion-icon>
          <ion-label>Profile</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>

