.image-center {
  margin:0 auto;
}

.item-avatar {
  margin-top: 20px;
  width: 150px !important;
  height : 150px !important;
}

ion-avatar img{
  border: 2px solid black !important;
}

input[type="file"] {
  display: none;
}
